#textsob {
    font-family: 'Cinzel Decorative', 'Spectral', serif;
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #7952a1, #53acff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(83, 172, 255, 0.3);
    padding: 10px 0 20px 0;
    text-align: center;
    border-bottom: 2px solid #53acff;
    margin-bottom: 18px;
    
}
#textsob:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#MudarCor {
    padding: 10px 20px;
    border-top: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: blueviolet;
    color: white;
    box-shadow: 5px 5px 5px rgba(6, 197, 255, 0.5);
    padding: 10px 20px;
    margin-right: 20px;
}
#MudarCor:hover {
    background-color: rgb(0, 199, 249);
    color: rgb(94, 1, 216);
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgb(57, 196, 255) 5px 5px 5px rgb(6, 255, 243);
    border: none;
    filter: brightness(1.2);
    cursor: pointer;
}

body {
    overflow-x: hidden;

}

#listasob li {
    width: 100%;
    width: 600px;
}
.destaque {
    font-size: 1.3em;
    font-weight: bold;
    color: white;

}

.destaque:hover {
    color: violet;
    cursor: pointer;
}
.container {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: sticky;  /* faz o header “grudar” no topo */
    top: 0; 
}


#sobre {
    justify-content: center;
    margin-top: 40px;
    
}

.container:hover {
    padding: 30px;
    transition: padding 0.3s ease-in-out;
}
body {
    background-image: url('https://images.unsplash.com/photo-1638272181967-7d3772a91265?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG15c3RpYyUyMHB1cnBsZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor: url('./espada-cursor-32x32.png'), auto;
    backdrop-filter: blur(20px);
}
h3 {
    color: white;
    font-size: 2em;
    color: aqua;
}
h2 {
    color: blueviolet;
    font-size: 2.5em;
    
}
p {
    color: white;
    font-size: 1.2em;
}
li, ul {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

#perfil {
    border-radius: 50%;
    width: 300px;
    margin-top: 3px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    margin-left: 30%;
    animation: foto infinite 2s alternate;;
}
@keyframes foto {
    0% {
        transform-box: ale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

#perfil:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease-out;
    box-shadow: rgba(6, 230, 255, 0.5) 0px 4px 8px;
    filter: brightness(1.2);
    cursor: pointer;
}

a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    
}
a:hover {
    color: blueviolet;
    transition: color 0.3s ease-in-out;

}

.sobre-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
   
}

#sobre {
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    font-size: 3em;
}

#sobre p{
    text-align: justify;
    line-height: 1.6;
    margin: 0 12%;
    color: white;
    display: flex;
    justify-content: center;
}

#sobre h1 {
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-block-end: 3px;
    background: linear-gradient(90deg, #7f00ff, #1ea9f4); /* roxo para rosa */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#destaque2 {
    transition: font-size 0.3s ease-in-out;
    font-family: 'Cinzel Decorative', 'Spectral', serif;
    font-size: 1em;
}
#destaque2:hover {
    font-size: 3.5rem;
}

#sobre h2 {
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    font-size: 2em;
    text-align: center;
}
#ola {
    display: flex;
    justify-content: center;
}


#sobre:hover #h1:hover {
    color: aqua;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}


h1 {
    font-size: 3em;

    
}
#sobre h2 {
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    font-size: 2em;
}

#contato1, #cv {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 5px rgba(6, 197, 255, 0.5);
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    
}
#contato1:hover {
    background-color: rgb(0, 199, 249);
    color: rgb(94, 1, 216);
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgb(57, 196, 255) 5px 5px 5px rgb(6, 255, 243);
    border: none;
    filter: brightness(1.2);
}
#cabeçalho {
    margin-left: 8%;
    margin-right: 8%;
}

#cabeçalho #amanda {
    margin-left: 150px;
    font-size: 1.5em;

}

#imagem {
    margin-top: 40px;
}

#contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
#github {
    width: 30px;
    height: 30px;
   
}

#linkedin {
    width: 30px;
    height: 30px;
}

#projetos8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#txtprojeto {
    color: blueviolet;
    font-size: 3em;
    margin-top: 100px;
    cursor: pointer;
    font-family: 'Cinzel Decorative', 'Spectral', serif;
    font-weight: bold;
    background: linear-gradient(90deg, #7952a1, #53acff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(83, 172, 255, 0.3);
    border-bottom: 2px solid #53acff;
    padding-bottom: 10px;
    text-align: center;
}

#txtprojeto:hover {
    color: aqua;
    transition: color 0.3s ease-in-out;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
    
}

#sobre1, #projetos1, #home {
    border-bottom: 1px solid white;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 10px;
}

#sobre1:hover, #projetos1:hover, #home:hover {
    border-bottom: 1px solid blueviolet;
    transition: border-bottom 0.1s ease-in-out;
}

#container-cards {
    display: flex;
    gap: 20px; /* espaço entre os cards */
    justify-content: center; /* centraliza os cards */
    flex-wrap: wrap; /* permite que os cards se movam para a próxima linha se não houver espaço suficiente */
    flex-direction: row;
    
}


#projetoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    border: none;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(6, 197, 255, 0.5) 0px 4px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#projetoa:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(6, 230, 255, 0.5) 0px 4px 8px;
    filter: brightness(1.2);
    cursor: pointer;
}

#projetob, #projetoc, #projetod, #projetoe, #projetof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    border: none;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(6, 197, 255, 0.5) 0px 4px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#projetob:hover, #projetoc:hover, #projetod:hover, #projetoe:hover, #projetof:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(6, 230, 255, 0.5) 0px 4px 8px;
    filter: brightness(1.2);
    cursor: pointer;
}


#cv {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: blueviolet;
    border: none;
    padding: 18px 30px;
    margin-left: 8px;
    box-shadow: 5px 5px 5px rgba(6, 197, 255, 0.5);
    
 
}

#cv:hover {
    background-color: rgb(0, 199, 249);
    color: rgb(94, 1, 216);
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgb(57, 196, 255) 5px 5px 5px rgb(6, 255, 243);
    border: none;
    filter: brightness(1.2);
}

#sobremim {
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: center;
    display: flex;
    width: 400px;
    flex-direction: column;
    text-align: justify;
    padding: 20px;

}

#txtsob {
    display: flex;
    justify-content: center;
    
}
#corpo {
    backdrop-filter: blur(20px);
    padding-block-end: 300px;
    margin-top: 30vh;
    padding-top: 5px;
    height: 350px;
    border: none;
    background: radial-gradient(20px)
   
}

#corpo:hover {
    
    transition: background-color 0.3s ease-in-out;
}

#minhafoto {
    margin-top: 80px;
}

.sobre-tec-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 50px;
        gap: 200px;
   

@media (max-width: 900px) {
    .sobre-tec-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    #sobremim {
        width: 90vw;
        padding: 10px;
    }
    #minhafoto img {
        width: 180px !important;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    #cabeçalho {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    #cabeçalho #amanda {
        margin-left: 0;
        font-size: 1.1em;
    }
    #sobre h1, #sobre h2, #sobre p {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }
    #sobre h1:hover, #sobre h2:hover, #sobre p:hover {
        opacity: 0;
        transform: translateX(-100px);
        animation: entrar 1s ease forwards;
    }
        @keyframes entrar {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        


    }
    #sobre h1 {
        font-size: 1.5em;
    }
    #perfil {
        width: 120px !important;
        margin-left: 0;
    }
    #container-cards {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    #projetoa, #projetob, #projetoc, #projetod, #projetoe, #projetof {
        width: 90vw;
        margin: 10px 0;
        padding: 10px;
    }
    #tecnologia html {
        flex-direction: column;
        height: 300px;
        padding: 10px 0;
        
    }
    .scroll img {
        width: 90px;
        height: 90px;
        
    }
    #footer {
        font-size: 0.7em;
        padding: 6px;
    }
}
    
}

#crp {
    color: #7952a1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1em;
    font-family: 'Cinzel Decorative', 'Spectral', serif;
    background: linear-gradient(90deg, #7952a1, #53acff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(83, 172, 255, 0.3);
}
    #crp:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    }

#tecnologia {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    box-shadow: rgba(6, 197, 255, 0.5) 0px 4px 8px;
    justify-content: center;
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}



.scroll {
    display: flex;
    width: max-content;
    
}



.scroll img {
    width: 100px;
    height: 80px;
    flex-shrink: 0;

}

.grupo {
    display: flex;
}

@keyframes mover {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-1 * var(--scroll-width))); }
}


#tecnologia h2 {
    display: flex;
    justify-content: center;
}

#footer {
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 8px 16px;
    padding: 10px;
    flex-direction: row;
    backdrop-filter: blur(20px);
    background: linear-gradient(90deg, #7952a1, #53acff); /* roxo para rosa */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.80em;
    font-weight: bold;
    margin-top: 40px;
}

#footer:hover {
    padding: 30px;
    transition: padding 0.3s ease-in-out;
}
